.version.about /* version checker */
{
	color: #0000FA;
	background-color: #79EDC2;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u95
{
	z-index: 2;
	min-height: 625.6893058161351px;
	padding-bottom: 0px;
}

#u95_position_content
{
	padding-bottom: 12px;
}

#pu1000
{
	width: 0.01px;
	position: relative;
}

#u1000
{
	z-index: 150;
	width: 94px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1002
{
	z-index: 151;
	width: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1001-4
{
	z-index: 153;
	width: 40px;
	min-height: 11px;
	background-color: transparent;
	font-size: 14px;
	color: #EEEEEE;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 29px;
}

#u1005-4
{
	z-index: 157;
	width: 56px;
	min-height: 11px;
	background-color: transparent;
	font-size: 14px;
	color: #999999;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 114px;
}

#u1008
{
	z-index: 161;
	width: 94px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u1010
{
	z-index: 162;
	width: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1009-4
{
	z-index: 164;
	width: 56px;
	min-height: 11px;
	background-color: transparent;
	font-size: 14px;
	color: #EEEEEE;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#u996
{
	z-index: 143;
	width: 94px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u997
{
	z-index: 144;
	width: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u999-4
{
	z-index: 146;
	width: 56px;
	min-height: 11px;
	background-color: transparent;
	font-size: 14px;
	color: #EEEEEE;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 20px;
}

#u114
{
	z-index: 9;
	width: 350px;
	height: 1px;
	margin-left: 16px;
	margin-top: 537px;
}

#u112-6
{
	z-index: 3;
	width: 276px;
	min-height: 30px;
	margin-left: 47px;
	margin-top: 12px;
}

#u95-bw
{
	z-index: 2;
	min-height: 625.6893058161351px;
}

#u382
{
	z-index: 10;
	min-height: 1586.6750000000013px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #232324;
	padding: 409px 9px 1.3249999999986812px;
}

#u381
{
	z-index: 11;
	width: 352px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E6E6E6;
	position: relative;
	padding: 25px 4px 20.350000000000136px 3px;
}

#u384
{
	z-index: 91;
	width: 196px;
	background-color: transparent;
	margin-left: 78px;
	position: relative;
}

#u396-4
{
	z-index: 95;
	width: 324px;
	min-height: 231px;
	background-color: transparent;
	font-size: 18px;
	text-align: justify;
	line-height: 27px;
	margin-left: 14px;
	margin-top: 16px;
	position: relative;
}

#pu500
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 10px;
}

#u500
{
	z-index: 131;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u506
{
	z-index: 133;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#pu511
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 8px;
}

#u511
{
	z-index: 135;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u516
{
	z-index: 137;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#pu521
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 8px;
}

#u521
{
	z-index: 139;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u526
{
	z-index: 141;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u390
{
	z-index: 93;
	width: 144px;
	background-color: transparent;
	margin-left: 104px;
	margin-top: 69px;
	position: relative;
}

#pu403
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 16px;
}

#u403
{
	z-index: 99;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u409
{
	z-index: 105;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u414
{
	z-index: 111;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#pu419
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 6px;
}

#u419
{
	z-index: 101;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u424
{
	z-index: 107;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u429
{
	z-index: 113;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#pu434
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 5px;
}

#u434
{
	z-index: 103;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u439
{
	z-index: 109;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u444
{
	z-index: 115;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u460
{
	z-index: 117;
	width: 334px;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 11px;
	position: relative;
}

#u466
{
	z-index: 119;
	width: 351px;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
}

#u472
{
	z-index: 121;
	width: 92px;
	background-color: transparent;
	margin-left: 130px;
	margin-top: 23px;
	position: relative;
}

#u480
{
	z-index: 130;
	width: 350px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #333333;
	margin-left: 5px;
	margin-top: 11px;
	position: relative;
}

#u479-7
{
	z-index: 123;
	width: 276px;
	min-height: 30px;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 17px;
	position: relative;
}

#u479-2,#u479-4
{
	font-size: 10px;
	text-align: center;
	line-height: 14px;
	color: #666666;
}

#u382-bw
{
	z-index: 10;
	min-height: 1586.6750000000013px;
	margin-top: 36px;
}

#pamphletu277
{
	z-index: 12;
	width: 0.01px;
	height: 322px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
}

#u293
{
	z-index: 13;
	width: 307px;
	position: relative;
	margin-right: -10000px;
	margin-top: 302px;
	left: 37px;
}

#u298
{
	position: absolute;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: -5px;
	left: -5px;
}

#u298:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u298:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u298.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u299-4
{
	z-index: 15;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #C4C4C4;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#u298:hover #u299-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 6px -10000px 0px 0px;
}

#u298:active #u299-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 6px -10000px 0px 0px;
}

#u298.PamphletThumbSelected #u299-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 6px -10000px 0px 0px;
}

#u298:hover #u299-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u298:active #u299-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u294
{
	position: absolute;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: -5px;
	left: 48px;
}

#u294:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u294:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u295-4
{
	z-index: 20;
	width: 40px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C4C4C4;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u294:hover #u295-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u294:active #u295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u294.PamphletThumbSelected #u295-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u294:hover #u295-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u294:active #u295-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u294.PamphletThumbSelected #u295-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
}

#u296
{
	position: absolute;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: -5px;
	left: 101px;
}

#u296:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u294.PamphletThumbSelected,#u296:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u297-4
{
	z-index: 25;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #C4C4C4;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u296:hover #u297-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u296:active #u297-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u296:hover #u297-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u296:active #u297-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u319
{
	position: absolute;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: -5px;
	left: 155px;
}

#u319:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u296.PamphletThumbSelected,#u319:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u326-4
{
	z-index: 30;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #C4C4C4;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u319:hover #u326-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u319:active #u326-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u319:hover #u326-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u296.PamphletThumbSelected #u297-4 p,#u319:active #u326-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u327
{
	position: absolute;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: -5px;
	left: 208px;
}

#u327:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u319.PamphletThumbSelected,#u327:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u330-4
{
	z-index: 35;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #C4C4C4;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u327:hover #u330-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u327:active #u330-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u327:hover #u330-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u298.PamphletThumbSelected #u299-4 p,#u319.PamphletThumbSelected #u326-4 p,#u327:active #u330-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u354
{
	position: absolute;
	width: 49px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: -5px;
	left: 262px;
}

#u354:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u327.PamphletThumbSelected,#u354:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u354.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u361-4
{
	z-index: 40;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #C4C4C4;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u354:hover #u361-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u354:active #u361-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u296.PamphletThumbSelected #u297-4,#u319.PamphletThumbSelected #u326-4,#u327.PamphletThumbSelected #u330-4,#u354.PamphletThumbSelected #u361-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 40px;
	margin: 5px -10000px 0px 0px;
}

#u354:hover #u361-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u354:active #u361-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u327.PamphletThumbSelected #u330-4 p,#u354.PamphletThumbSelected #u361-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u280
{
	position: absolute;
	width: 380px;
	background-color: transparent;
}

#u280popup
{
	z-index: 44;
}

#u285
{
	z-index: 45;
	width: 380px;
	height: 281px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	padding-bottom: 14px;
	margin-right: -10000px;
	position: relative;
}

#u287
{
	z-index: 50;
	width: 380px;
	background-color: transparent;
	position: relative;
}

#u287_img
{
	margin-top: -9px;
	margin-bottom: -21px;
}

#u286-4
{
	z-index: 46;
	width: 349px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u281
{
	z-index: 52;
	width: 380px;
	height: 287px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	padding-bottom: 8px;
	margin-right: -10000px;
	position: relative;
}

#u282
{
	z-index: 57;
	width: 380px;
	background-color: transparent;
	position: relative;
}

#u284-4
{
	z-index: 53;
	width: 347px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#u289
{
	z-index: 59;
	width: 380px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	padding-bottom: 7px;
	margin-right: -10000px;
	position: relative;
}

#u290
{
	z-index: 60;
	width: 380px;
	background-color: transparent;
	position: relative;
}

#u373-4
{
	z-index: 62;
	width: 347px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 21px;
	margin-top: 9px;
	position: relative;
}

#u321
{
	z-index: 66;
	width: 380px;
	height: 281px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	padding-bottom: 14px;
	margin-right: -10000px;
	position: relative;
}

#u341
{
	z-index: 71;
	width: 380px;
	background-color: transparent;
	position: relative;
}

#u340-4
{
	z-index: 67;
	width: 338px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u329
{
	z-index: 73;
	width: 380px;
	height: 281px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	padding-bottom: 14px;
	margin-right: -10000px;
	position: relative;
}

#u348
{
	z-index: 74;
	width: 380px;
	background-color: transparent;
	position: relative;
}

#u375-4
{
	z-index: 76;
	width: 338px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u356
{
	z-index: 80;
	width: 380px;
	height: 281px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	padding-bottom: 14px;
	margin-right: -10000px;
	position: relative;
}

#u363
{
	z-index: 81;
	width: 380px;
	background-color: transparent;
	position: relative;
}

#u287_clip,#u282_clip,#u290_clip,#u341_clip,#u348_clip,#u363_clip
{
	overflow: hidden;
	width: 380px;
	height: 245px;
}

#u282_img,#u290_img,#u341_img,#u348_img,#u363_img
{
	margin-bottom: -30px;
}

#u376-4
{
	z-index: 83;
	width: 338px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 23px;
	margin-top: 16px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u188
{
	z-index: 87;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
}

#u188_img
{
	padding-bottom: 11px;
}

#u206
{
	z-index: 89;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 310px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

